body,
html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	font-family: sans-serif;
	padding: 20px;
	background: linear-gradient(40deg, #98c26775, #f3e946) center center
		no-repeat;
	line-height: 1;
}

h1 {
	color: red;
	font-size: 40px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	padding: 10px;
	margin: 0px;
}

h4,h3,h2{

	border-width: 1px;
	padding: 10px;
	margin: 0px;
}

article {
	margin: 20px 20px;
	background-color: #fff;
	box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
	transition: transform 0.3s;
	transform: translate3d(0, -1px, 0);
}
article:hover {
	transform: translate3d(0, -10px, 0);
}

img-answer-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	font-size: 0px;
}

.item_image {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
}

img#main-img {
	width: 100%;
	height: auto;
	box-shadow: 0px 1px 10px 1px grey;
	filter: blur(0px);
	transition: filter 0.4s;
}

img#main-img:hover {
	transition: filter 0.4s;
}

#language-choice {
	display: flex;
	justify-content: space-around;
	margin: 15px;
	width: 50%;
}

.nav-bg {
	background-color: rgb(243, 238, 233);
}

.title {
	font-size: 25px;
	color: rgb(14, 12, 12);
	font-weight: bold;
	margin-bottom: 25px;
}

.navegation-principal {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media (max-width: 768px) {
	.navegacion-principal {
		flex-direction: column; /* separa las menu en lina con opcion row */
		justify-content: space-between; /* muebe contenido al horizontal; mi texto a la izquierda flex-start*/
	}
}
.navegation-principal a:hover {
	background-color: rgb(120, 129, 115);
	color: var(--dark);
}

.item {
	margin: 20px 20px;
	background-color: #fff;
	box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
	transition: transform 0.3s;
	transform: translate3d(0, -1px, 0);
}

.item:hover {
	transform: translate3d(0, -10px, 0);
}

.item img {
	display: block;
	width: 20%;
	height: 20%;
	margin: 10px inline-block;
}

.item__body {
	padding: 25px;
}

.item__title {
	font-size: 14px;
	margin-bottom: 3%;
	font-weight: bold;
	color: #232323;
}

.item__description {
	color: #585858;
}

.item_inicio {
	display: block;
	width: 200%;
	height: 200%;
	margin: 10px inline-block;
}
