* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #2f8dda;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}