body {
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#test-redaction-textarea {
  width: 70vw;
  margin: 10px 0;
}

/* Hero styles */
img#hero-img {
  max-width: 80vw;
}
.hero-subtitle {
  text-align: center;
}
.hero-objective {
  background: #ffe89c;
  padding: 5px;
}
.return-link {
  text-decoration: none;
  color: grey;
}
.btn.start-button {
  color: black; 
}

/* boton retorne page*/
.btn,
.button {
  padding: 15px 20px;
  display: inline-flex;
  font-size: 16px;
  background-color: rgb(#eb6868);
  color: rgb(243, 0, 0);
  text-decoration: none;
  border-radius: 15px;
  margin: 10px 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*gra.1*/
article#presentation-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
/*gra.2*/
.question-card {
  padding: 20px;
  border-radius: 10px;
  margin: 40px;
  margin: 20px 20px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}
.question {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.question img, .question video {
  max-width: 80vw;
  max-height: 40vh;
  width: 60vw;
  height: 15vh;
}

.answer-block {
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.answer img, .answer video {
  width: 100%;
  height: auto;
  margin: 5px;
}

.answer {
  margin: 2% 0;
  width: 40vw;
  max-height: 30vh;
  overflow: hidden;
}

.answer input {
  display: none;
}
.answer input + label span {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
}
.answer input:checked + label span {
  background-color: black;
  color: white;
  margin: -6px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.4s;
}
.answer input + label img,.answer input + label video {
  transition: filter 0.4s;
  filter: grayscale(80%);
}

.answer input:checked + label img,.answer input:checked + label video {
  transition: filter 0.4s;
  filter: grayscale(0%);
}

@media screen and (max-width: 600px) {
  .answer-block {
    flex-flow: column;
    justify-content: flex-start;
    gap: 0px;
  }
  .answer {
    max-width: 80vw;
    max-height: 60vh;
  }
  
}

.redaction-img {
  width: 80vw;
  max-height: 50vh;
}

/*otras imagenes primer grupo*/
.item__body img-answer img {
  box-shadow: 0px 3px 7px 1px #d0c8c8;
  width: 400px; /*talla imagen  */
  height: 162px;
  margin: 10px;
}


/* CARROUSEL */
#header-questionnaire {
  position: fixed;
  z-index: 80;
  width: 100vw;
  height: 8vh;
}
#header-questionnaire.hidden {
  opacity: 0;
  display: none;
}
#header-questionnaire:not(.hidden) {
  display: flex;
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;
}

#liste-bouton-raccourci {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1vh;
}

.raccourci-question {
  margin: 0.5vh;
  border: 1px solid black;
  background-color: white;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
/* @media screen and (max-width: 600px) {
  .raccourci-question {
    font-size: ;
  }
} */

.raccourci-question.question-repondu {
  background-color: green;
  color: white;
  border-color: white;
}
.raccourci-question.question-non-repondu {
  background-color: red;
  color: white;
  border-color: white;
}

#niveau-completude-test {
  width: 80vw;
  display: block;
  margin: 0 auto;
}

.carrousel {
  display: flex;
  overflow: visible;
  transition: transform 1s ease-in-out;
  display: inline-flex;
}

.card-carrousel {
  min-width: 98vw;
  width: 98vw;
  height: 85vh;
  margin: 10vh 1vw 0 1vw;
}

.bouton {
  height: 40px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  background: rgb(206, 98, 98);
  border-radius: 10px;
  cursor: pointer;
}

.bouton-groupe {
  display: flex;
  justify-content: center;
}

.button.bouton-suivant, #evaluation-submit-button {
  color: white;
  background-color: green;
}

.button.bouton-precedent {
  color: white;
  background-color: #bd4545;
}

/* boton envoye suivant */
.page-control {
  background: rgb(33, 33, 87);
  margin: 10px 1px 5px 5px;
  padding: 15px 20px;
  display: inline-block;
  font-size: 20px;
  background-color: rgb(168, 0, 8);
  color: rgb(204, 179, 179);
  text-decoration: none;
  border-radius: 30px;
}
